body {
    color: #f0fff0 !important;
    background: url(https://ak3.picdn.net/shutterstock/videos/17595793/thumb/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1, h2, h3{
	text-align: center;
	color: #f0fff0;
}

#mainPic {
    width: 620px;
    height: 400px;
    display: block;
    margin: 0px auto;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(202, 221, 106);
    border-image: initial;
}

#profilePic {
    height: 250px;
    margin: 0px 25px;
}

#contactPic {
    width: 200px;
    margin: 23px 0px 0px;
}
#comments {
	width: 200px;
	color: #f0fff0;
}

.about, .contact {
    display: flex;
    justify-content: center;
}

.left, .right {
    background-color: darkgreen;
    color: limegreen;
    border-width: 5px;
    border-style: double;
    border-color: rgb(202, 221, 106);
    border-image: initial;
    padding: 10px 20px 30px;
    margin: 0px 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

input, button {
	display: block;
	padding: 5px auto;
	margin: 0px auto;
}

p {
    width: 400px;
    margin: 25px !important;
}
.about {
    width: 650px;
    background-color: darkgreen;
    color: limegreen;
    border-width: 5px;
    border-style: double;
    border-color: rgb(202, 221, 106);
    border-image: initial;
    margin: 0px auto;
}
#map {
    display: block;
    height: 400px;
    width: 400px;
    margin: 0px auto;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(202, 221, 106);
    border-image: initial;
}
a {
    color: rgb(202, 221, 106);
}
a:hover {
	color: rgb(0,250,154);
}
form {
	text-align: center;
}
.btn-success, .btn-default{
	text-align:center;
	display: block;
	margin: 10px 60px;
	width: 150px;
}